In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../datasets/Fertilizer_Prediction.csv")

In [3]:
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer_Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19,28-28
95,30,60,27,Red,Tobacco,4,17,17,10-26-26
96,38,72,51,Loamy,Wheat,39,0,0,Urea
97,36,60,43,Sandy,Millets,15,0,41,DAP
98,29,58,57,Black,Sugarcane,12,0,10,20-20

In [4]:
df['Soil Type'].unique()

array(['Sandy', 'Loamy', 'Black', 'Red', 'Clayey'], dtype=object)

In [5]:
df['Crop Type'].unique()

array(['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
       'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'],
      dtype=object)

In [6]:
label_encoder = preprocessing.LabelEncoder()

In [7]:
df['Soil Type']= label_encoder.fit_transform(df['Soil Type'])

In [8]:
df['Crop Type']= label_encoder.fit_transform(df['Crop Type'])

In [9]:
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer_Name
0,26,52,38,4,3,37,0,0,Urea
1,29,52,45,2,8,12,0,36,DAP
2,34,65,62,0,1,7,9,30,14-35-14
3,32,62,34,3,9,22,0,20,28-28
4,28,54,46,1,6,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19,28-28
95,30,60,27,3,9,4,17,17,10-26-26
96,38,72,51,2,10,39,0,0,Urea
97,36,60,43,4,4,15,0,41,DAP
98,29,58,57,0,8,12,0,10,20-20

In [26]:
df['Soil Type'].unique()

array([4, 2, 0, 3, 1])

In [27]:
df['Crop Type'].unique()

array([ 3,  8,  1,  9,  6,  0, 10,  4,  5,  7,  2])

In [10]:
df.isnull().sum().sum()

0

In [11]:
df.Fertilizer_Name.unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

In [12]:
df.corr()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
Temparature,1.000000,0.973164,0.091222,0.036595,0.135211,-0.033771,-0.023424,0.207545
Humidity,0.973164,1.000000,0.091342,0.061744,0.130019,-0.060646,-0.003833,0.204044
Moisture,0.091222,0.091342,1.000000,-0.053386,-0.155281,-0.095945,0.027727,0.009276
Soil Type,0.036595,0.061744,-0.053386,1.000000,-0.311288,-0.159595,0.065460,0.205794
Crop Type,0.135211,0.130019,-0.155281,-0.311288,1.000000,0.071803,0.025838,-0.187574
Nitrogen,-0.033771,-0.060646,-0.095945,-0.159595,0.071803,1.000000,-0.500087,-0.686971
Potassium,-0.023424,-0.003833,0.027727,0.065460,0.025838,-0.500087,1.000000,0.089192
Phosphorous,0.207545,0.204044,0.009276,0.205794,-0.187574,-0.686971,0.089192,1.000000

In [13]:
X = df[['Temparature','Humidity','Moisture','Soil Type','Crop Type','Nitrogen','Potassium','Phosphorous']]
target = df['Fertilizer_Name']

In [14]:
y = target

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 30)

In [16]:
print("X_train shape:",X_train.shape)
print("X_test shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test shape:",y_test.shape)

X_train shape: (79, 8)
X_test shape: (20, 8)
y_train shape: (79,)
y_test shape: (20,)

In [30]:
X_train

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
92,36,68,41,3,2,41,0,0
4,28,54,46,1,6,35,0,0
85,35,67,28,1,7,8,7,31
54,31,62,63,3,1,11,12,15
1,29,52,45,2,8,12,0,36
...,...,...,...,...,...,...,...,...
12,25,50,65,2,1,36,0,0
96,38,72,51,2,10,39,0,0
45,38,70,48,2,10,8,8,28
98,29,58,57,0,8,12,0,10
37,37,70,37,1,6,12,0,41

In [31]:
X_test

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
20,30,60,44,4,4,10,0,9
90,30,60,26,0,5,8,9,30
34,26,52,48,2,10,23,0,19
51,36,68,33,0,5,13,0,14
8,30,60,42,4,4,21,0,18
73,27,53,34,0,5,42,0,0
21,34,65,53,2,8,12,14,12
87,27,53,30,0,4,35,0,0
79,34,65,63,3,1,14,0,38
88,36,68,50,2,10,12,18,19
81,30,60,40,4,4,41,0,0
38,25,50,26,3,2,15,14,11
0,26,52,38,4,3,37,0,0
78,26,52,36,1,7,7,16,20
42,32,62,34,3,9,22,0,24
66,34,65,57,0,8,9,0,13
67,29,58,55,2,8,8,8,33
52,28,54,38,1,7,40,0,0
47,29,58,43,1,6,24,0,18
10,27,54,28,1,7,13,0,40

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rf = RandomForestClassifier(random_state=42, n_jobs=-1, max_depth=5,n_estimators=100, oob_score=True)

In [19]:
%%time
rf.fit(X_train, y_train)

CPU times: total: 234 ms
Wall time: 216 ms

RandomForestClassifier(max_depth=5, n_jobs=-1, oob_score=True, random_state=42)

In [20]:
rf.oob_score_

0.9367088607594937

In [21]:
y_pred = rf.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_test,y_pred)

0.95

In [24]:
import pickle

In [25]:
with open('../models/f_rec/fertiilizer_model.pkl','wb') as f:
    pickle.dump(rf,f)